header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #adadad;
    border-style: dotted;
    padding: 5px;
}

.menu {
    flex-grow: 1;
}

.menu ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 18px;
    list-style: none;
    text-decoration: none;
}

.menu li {
    margin-right: 20px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .menu a {
    padding: 8px 10px;
  }

.logo {
    margin-right: 500px;
    margin-left: 100px;
}

footer {
    background-color: #adadad;
    padding: 10px;
    text-align: center;
    border-style: dotted;
}

main {
    color: black;
}

.trailer {
    display: flex;
    justify-content: center;
}

.main-text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-block-cont {
    display: flex;
    justify-content: space-between;
}

.text-block {
    width: 30%; /* Устанавливает ширину каждого блока, чтобы они занимали 30% ширины контейнера */
    margin-right: 10px; 
}

.text-block img.apple123 {
    max-width: 500px;
}

p {
    text-align: center;
    font-size: large;
}

h1 {
    text-align: center;
}

#Info1 {
    font-size: large;
    font: Times New Roman;
}

img {
    max-width: 50%;
    display: block;
    margin: auto;
}

.sis {
    text-align: center;
    font-size: large;
}

.down {
    display: flex;
    justify-content: center;
}

.down img {
    max-width: 25%;
    height: auto;

}

.donate-container {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос элементов на следующую строку */
    justify-content: space-between;
}

.donate {
    flex-basis: calc(25% - 20px); /* Устанавливаем ширину блока, учитывая отступы */
    box-sizing: border-box;
    margin: 0 10px 20px 0; /* Добавляем отступы между блоками */
}

.donate-content {
    background-color: #fff;
    border: 5px solid #ddd;
    padding: 20px;
    text-align: center;
}

.donate img {
    max-width: 100%;
    margin-bottom: 10px;
}

.price {
    color: #007bff;
    font-weight: bold;
}

.order-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.order-btn:hover {
    background-color: #0056b3;
}

.support-form {
    background-color: #d72a2a;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #730404;
    box-shadow: 0 0 2px;
}

h2 {
    text-align: center;

}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

select,
textarea,
input {
    width: 100%;
    padding: 5px;
    border: 2px solid #730404;
}

button {
    background-color: #d72a2a;
    color: #ddd;
}






.proba {
    display: flex;
    justify-content: space-around;
}

.proba img {   
    max-width: 1000px;
}