/* подключение новых шрифтов, уточнить правильно ли это, потому что  полная обьективно */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
}

header { /* хедер */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
}

footer { /* футер */
  font-family: Roboto;
  background-color: #e3e3e3;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

/* стиль для меню хедера*/
.menu { 
    flex-grow: 1;
}

.menu ul { 
    font-family: Roboto;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 18px;
    list-style: none;
}

.menu li {
    margin-right: 20px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .menu a {
    text-decoration: none;
    padding: 8px 10px;
  }

  .menu a:visited { 
    color: inherit; /* сохраняем цвет, чтобы ссылка не была синей */
  }

.logo {
    margin-right: 500px;
    margin-left: 100px;
}

.menu a:hover {
  color: rgb(255, 104, 104);
}

/* текст основной слева от картинки, разделен на блоки */
.first {
  display: flex;
  justify-content: space-around;
}

.first-text {
  font-family: Roboto;
  font-size: x-large;
  max-width: 35%;
  margin-top: 100px;
}

/* кнопка скачать */
.downbut button {
  display: flex;
  padding: 15px 60px;
  font-size: 16px;
  background-color: rgb(255, 104, 104);
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

/* hover - событие, когда наводится на кнопку */
.downbut button:hover {
  background-color: #ff9898;
}

/* текст Наши преимущества и другие заголовки перед блоками */
.opport {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  margin-bottom: 25px;
}

/* Контейнер для контейнеров текста преимуществ */
.block {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
}

/* скриншоты, оставил сверху вниз, во второй лабе придется поменять на карусельку, НЕ ЗАБЫТЬ! */
.block-screens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screens img {
  max-width: 50%;
  display: block;
  margin: 30px auto;
}

/* контейнер текста преимуществ */
.text-block {
  font-family: Roboto;
  max-width: 30%;
  border: 2px solid #a4a4a4;
  border-radius: 10px;
}



/* ТУТ ПОШЛИ КОНТЕЙНЕРЫ ДЛЯ play.html */

.main-text {
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

.block-play {
  display: flex;
  justify-content: space-around;
}

.block-play-text {
  font-family: Roboto;
  max-width: 30%;
  border: 2px solid #a4a4a4;
  border-radius: 10px;
  text-align: center;
}

.block-play-text ul {
  list-style: none;
  padding: 10px;
}

.block-play-text img {
  max-width: 50%;
  padding: 10px;
}

.downlink {
  display: flex;
  justify-content: space-around;
}

.downlink img {
  max-width: 25%;
  display: block;
  margin: 30px auto;
}


/* ТУТ ПОШЛИ КОНТЕЙНЕРЫ ДЛЯ shop.html */

.shop-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1080px;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
}

.shop-block {
  top: 10px;
  background-color: aliceblue;
  width: 225px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
  border-style: solid;
}

.shop-image {
  position: relative;
  left: 0;
  top: 0;
}

.shop-image img {
  width: 100%;
  height: 210px;
  object-fit: contain;
  transition: 0.2s;
}

.shop-image img:hover {
  transform: scale(1.2);
}

.shop-block-bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 10px;
}

.shop-block-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 17px;
  font-family: Roboto;
  line-height: 150%;
  color: #414141;
  text-decoration: none;
}

.shop-block-title:hover {
  color: #ff6633;
}

.buy
{
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    background-color: #ff6d6d;
    color: #000000;
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 2px;
    transition: 0.2s;
}

.buy:hover
{
    transform: scale(1.05);
}

.shop-block-price
{
  font-family: Roboto;
}

/* ТУТ ПОШЛИ КОНТЕЙНЕРЫ ДЛЯ tp.html */

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

select, textarea, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #ff6d6d;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff8484;
}
